body{
    margin: 0;
    background-image: url("assets/world-map.png");
    background-position: top;
}
h1{
    letter-spacing: 4px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}
h2{
    letter-spacing: 2px;
    font-family: cursive;
    font-style: italic;
    text-align: center;
    font-weight: normal;
}
a{
    color: #0bbdff;
}
a:visited{
    color: #858585;
}
a:active{
    color: yellow;
}
article{
    color: #3e3e3e;
    text-indent: 20px;
    margin: 0 20px;
}
