body{
    background-image: url("assets/space.jpg");
}

.orbit{
    top: 100px;
    margin: 0 auto;
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid white;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite ;
    animation-timing-function: linear;
}
.orbit:hover{
    animation-play-state: paused;
}
.mars{
    top: 7px;
    left: 7px;
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: red;
    border-radius: 50%;
}
.wrap{
    position: relative;
    top: 100px;
    margin: 0 auto;
    height: 300px;
    width: 300px;
}
.sun{
    margin: auto;
    position: absolute;
    top: 180px;
    left: 75px;
    height: 150px;
    width: 150px;
    background-color: #fffd28;
    border-radius: 50%;
}

.sun:hover{
    transition: 1s;
    transform: scale(1.2);
    cursor: pointer;
    animation-play-state: running;
}
.mars:hover{
    transition: 1s;
    transform: scale(1.2);
    cursor: pointer;
}
@keyframes spin {
    from {transform: rotate(0deg) }
    to{transform: rotate(360deg) }
}

