.bg-dark{
  background-color: black!important;
}
.carousel-img{
  height: 600px;
}
.mrg{
  margin-top: 20px;
  margin-bottom: 20px;
}
.media-img{
  height: 100px;
}
.jumbotron{
  background-color: white;
}
