#mainContainer{
  margin: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .userblock {
    margin: 20px;
    border: 2px solid blue;
    border-radius: 20px;
    padding: 20px;
    flex-basis: 500px;
    display: flex;
    justify-content: space-between;

    img{
      border-radius: 20px;
    }
  }
}
.buttonsConatiner{
  text-align: center;
}
